<!DOCTYPE html>
{{ block "head" . }}{{ end }}
<body>
  {{ partial "header.html" . }}

  <main class="content">
    {{ block "main" . }}{{ end }}
  </main>

  {{ partial "footer.html" . }}
</body>
</html>
