{{ define "head" }}
{{ partial "theme_head.amp.html" . }}
{{ end }}
{{ define "main" }}
{{ if eq .Type "post" }}
{{ partial "post.html" . }}
{{ partial "post_pagination.html" . }}
{{ else }}
<h1 class="content__title">{{ .Title }}</h1>
<div class="content__body">
  {{ .Content }}
</div>
{{ end }}
{{ end }}
