@import "normalize";

/*! Another Flavor theme site css | Copyright 2018 Peter Debelak | MIT License */

$primary: #001F3F;
$secondary: #0074D9;
$background: #FFF;
$text-color: #333;
$text-color-medium: #777;
$text-color-light: #DDD;

@mixin container {
  max-width: 800px;
  margin: 0 auto;
  overflow: auto;
}

@mixin button {
  background: $secondary;
  padding: 0.5em 0.25em;
  border-radius: 0.25em;
  text-decoration: none;
  color: $background;
  box-shadow: 3px 3px 2px $text-color-light;
  display: inline-block;

  &:hover {
    color: $text-color-light;
  }
}

@mixin inline-list {
  padding: 0;
  display: flex;
  list-style-type: none;
}

body {
  font-family: Georgia, Palatino, Times, serif;
  color: $text-color;
  background: $background;
  line-height: 1.6em;
  font-size: 17px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

a {
  color: $secondary;

  &:hover, &:focus, &:visited {
    color: color-mod($secondary b(50%));
  }
}

blockquote {
  margin: 1em 0;
  border-left: 0.5em solid $text-color-light;
  padding-left: 1em;
}

.header {
  background: $primary;
  box-shadow: 0 2px 2px $text-color-light;
  color: $background;
}

.header__container {
  @include container;
  padding: 0 1em;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header__title a {
  text-decoration: none;
  color: $background;

  &:hover {
    text-decoration: none;
    color: $text-color-light;
  }
}

.header__description {
  color: $text-color-light;
}

.header__pages {
  @include inline-list;
}

.header__page {
  padding-left: 0.5em;
}

.header__page a {
  color: $background;

  &:visited {
    color: $background;
  }

  &:hover {
    color: $text-color-light;
  }
}

.content {
  @include container;
  padding: 0 1em 1em 1em;
}

.content__heading {
  text-align: center;
}

.content__title {
  margin-bottom: 0;
  line-height: 1;
}

.content__details {
  display: flex;
}

.content__img-wrapper {
  text-align: center;
  margin: 0 auto;
}

.content__img {
  max-width: 100%;
  height: auto;
}

.content__video-container {
  margin: 0 auto;
}

.content__video-wrapper {
  text-align: center;
	position: relative;
	padding-top: 25px;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
  overflow: hidden;
}

.content__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content__details p {
  font-size: 0.8em;
  color: $text-color-medium;
  padding-right: 0.5em;
  margin: 0;
}

.content__tags {
  @include inline-list;
}

.content__tag {
  margin-right: 0.25em;
}

.content__tag a {
  @include button;
}

.footer {
  padding: 0 1em;
  overflow: auto;
  text-align: center;
  box-shadow: 0 -2px 2px $text-color-light;
}

.pagination {
  @include inline-list;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5em;
}

.pagination__link a {
  @include button;
}

.pagination__disabled {
  @include button;
  background: $text-color-medium;
  cursor: not-allowed;
}

.post__list {
  padding: 0;
  list-style-type: none;
}
