{{ define "head" }}
{{ partial "theme_head.html" . }}
{{ end }}
{{ define "main" }}

<h1 class="content__heading">{{ .Title }}</h1>

<ul class="post__list">
{{ range (where .Data.Pages "Type" "post") }}

<li><a href="{{.Permalink}}">{{ .Title }}</a></li>

{{ end }}
</ul>

{{ end }}
