<header class="header">
  <div class="header__container">
    <div class="header__nav">
      <h1 class="header__title">
        <a href="{{ .Site.BaseURL }}">
          {{ $.Site.Title }}{{ with $.Site.Params.Subtitle }} — {{ . }}{{ end }}
        </a>
      </h1>
      <nav>
        <ul class="header__pages">
          <li class="header__page"><a href="{{ .Site.BaseURL }}/posts/">Posts</a></li>
          {{ range .Site.Menus.main }}
            <li class="header__page"><a href="{{ .URL }}">{{ .Name }}</a></li>
          {{ end }}
        </ul>
      </nav>
    </div>
    {{ with $.Site.Params.Description }}<p class="header__description">{{ . }}</p>{{ end }}
  </div>
</header>
