{{ if .IsPage }}
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Article",
    "author": {
      "name": "{{ $.Site.Params.Author }}",
      "@type": "Person"
    },
    "headline": "{{ .Title }}",
    "datePublished": "{{ .PublishDate.Format "2006-01-02T15:04:05Z" }}",
    "dateModified": "{{ .PublishDate.Format "2006-01-02T15:04:05Z" }}",
    "image": ["{{ with .Params.Image }}{{ . | absURL }}{{ else }}{{ $.Site.Params.Image | absURL }}{{ end }}"],
    "url": "{{ .Permalink | absURL }}",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{ .Permalink | absURL }}"
    },
    "publisher": {
      "@type": "Organization",
      "name": "{{ $.Site.Params.Author }}",
      "logo": {
        "@type": "ImageObject",
        "width": "659",
        "height": "50",
        "url": "{{ $.Site.Params.Logo | absURL }}"
      }
    }
  }
</script>
{{ end }}
<link rel="sitemap" type="application/xml" title="Sitemap" href="{{ "sitemap.xml" | relURL }}" />
<meta name="description" content="{{ (or .Summary $.Site.Params.Description) | plainify }}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:image" content="{{ with .Params.Image }}{{ . | absURL }}{{ else }}{{ $.Site.Params.Image | absURL }}{{ end }}" />
