<ul class="pagination">
  <li class="pagination__link">
    {{ if .Paginator.HasNext }}
    <a rel="next" href="{{ .Paginator.Next.URL }}">&larr; Older</a>
    {{ else }}
    <span class="pagination__disabled">&larr; Older</span>
    {{ end }}
  </li>
  <li class="pagination__link">
    {{ if .Paginator.HasPrev }}
    <a rel="prev" href="{{ .Paginator.Prev.URL }}">Newer &rarr;</a>
    {{ else }}
    <span class="pagination__disabled">Newer &rarr;</span>
    {{ end }}
  </li>
</ul>
