<h1 class="content__title">{{ .Title }}</h1>
<div class="content__details">
  <p><a href="{{ .Permalink }}">Permalink</a></p>
  {{ with .PublishDate }}<p>Published <time>{{ .Format "January 2, 2006 3:04PM" }}</time></p>{{ end }}
</div>
<div class="content__body">
  {{ .Content }}
</div>

{{ with .Params.tags }}
<ul class="content__tags">
  {{ range . }}
  <li class="content__tag">
    <a href="{{ delimit (slice "/tags/" (urlize .)) "" | relURL }}">{{ . }}</a>
  </li>
  {{ end }}
</ul>
{{ end }}
