<ul class="pagination">
  <li class="pagination__link">
    {{ if .PrevInSection }}
    <a rel="next" href="{{ .PrevInSection.Permalink }}">&larr; Older</a>
    {{ else }}
    <span class="pagination__disabled">&larr; Older</span>
    {{ end }}
  </li>
  <li class="pagination__link">
    {{ if .NextInSection }}
    <a rel="prev" href="{{ .NextInSection.Permalink }}">Newer &rarr;</a>
    {{ else }}
    <span class="pagination__disabled">Newer &rarr;</span>
    {{ end }}
  </li>
</ul>
