<html lang="{{ .Site.Language }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ if not .IsHome }}{{ .Title }} :: {{ end }}{{ $.Site.Title }}{{ with $.Site.Params.Subtitle }} — {{ . }}{{ end }}</title>
    {{ $cssHash := trim (readFile "themes/anotherflavor/assets/site.css.hash") "\n" }}
    <link rel="stylesheet" href="{{ (print "css/site." $cssHash ".css") | relURL }}">
    {{ range .AlternativeOutputFormats }}
      <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
    {{ end }}
    {{ partial "metadata.html" . }}
    {{ partial "head.html" . }}
  </head>
