{{ define "head" }}
{{ partial "theme_head.html" . }}
{{ end }}
{{ define "main" }}
<h1 class="content__title">404 Not Found</h1>
<div class="content__body">
  {{ partial "404.html" . }}
</div>
{{ end }}
