<p class="content__img-wrapper">
  <a href="{{ .Get "src" }}">
    <img class="content__img" src="{{ .Get "src" }}"{{ with .Get "height" }} height="{{ . }}"{{ end }}{{ with .Get "width" }} width="{{ . }}"{{ end }}>
  </a>
</p>
