<p class="content__img-wrapper"{{ with .Get "width" }} style="max-width: {{ . }}px;"{{ end }}>
  <a href="{{ .Get "src" }}">
    <amp-img src="{{ .Get "src" }}"{{ with .Get "height" }} height="{{ . }}"{{ end }}{{ with .Get "width" }} width="{{ . }}"{{ end }} layout="responsive">
  </a>
</p>
