<p class="content__img-wrapper"{{ with .Get "width" }} style="max-width: {{ . }}px;"{{ end }}>
  <amp-youtube data-videoid="{{ .Get "src" }}" layout="responsive" {{ with .Get "height" }} height="{{ . }}"{{ end }}{{ with .Get "width" }} width="{{ . }}"{{ end }}>
  </amp-youtube>
</p>
