<div class="content__video-container"{{ with .Get "width" }} style="max-width: {{ . }}px;"{{ end }}>
  <p class="content__video-wrapper">
    <iframe class="content__video" allowfullscreen frameborder="0" allow="autoplay; encrypted-media" src="//www.youtube-nocookie.com/embed/{{ .Get "src" }}" {{ with .Get "height" }} height="{{ . }}"{{ end }}{{ with .Get "width" }} width="{{ . }}"{{ end }}>
    </iframe>
  </p>
</div>
